body {
  padding: 20px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

hr {
  margin: 2px 0 10px 0;
}

span {
  line-height: 1em;
}

@import './components/classes.scss';

@import './components/button.scss';
@import './components/button-group.scss';
@import './components/hr.scss';
@import './components/input.scss';
@import './components/table.scss';
